nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin-right: 15px;
    padding: 10px;
    

}
nav ul li a{
    color: black;
    text-decoration: none;
}
nav ul li:hover{
    background-color: aqua;
}